.parents-container {
   
    /* Add more styles as needed */
    position: absolute;
    top: 1800px;
    height: 1150px;
    background-color: #4E3BC2;
    width: 100vw;
  }
  .outer4{
    
    position: relative;
    height: 100%;
    width: 100vw;

  }
  .content{
    padding-top: 209px;
    padding-bottom: 105px;
    padding-left: 120px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 32.74px;
    color: white;
  }
  
  .highlighted5{
    font-weight: 800;
    font-size: 36px;
    line-height: 49.1px;
  }
  .design1{
    position: absolute;
    background-image: url("design.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 262.57px;
    height: 425px;
    top: 10px;
    right: 0;
  }
 
  .design2{
    position: absolute;
    background-image: url("Vector.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 236.57px;
    height: 240px;
    bottom: 90px;
    left: -10px;
    rotate: 
    -70.69°;
  }


  

  @media screen and (min-width: 650px) and (max-width: 1250px) {
    /* Adjust styles for tablet devices */
   
    .parents-container{
      top:1250px;
      height: 850px;
    }
    
    .content{
      padding-top: 151px;
      padding-bottom: 24px;
      padding-left: 60px;
      
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      color: white;
    }
    .highlighted5{
      font-weight: 800;
      font-size: 24px;
      line-height: 32px;
    }
    .design1{
      
      width: 62px;
      height: 100px;
      top: 10px;
      right: 0px;
    }
    .design2{
      width: 97px;
      height: 98px;
    }
    
  }

  @media screen and (max-width: 650px) {
    .parents-container{
      top:1560px;
      height: 800px;
    }
    .content{
      margin-top: 64px;
      padding-top: 0px;
      padding-left: 0px;
      padding-bottom: 24px;
      margin-left: 20px;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: white;
      width: 250px
    }
    .highlighted5{
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;
    }
    .design1{
      
      width: 62px;
      height: 100px;
      top: 10px;
      right: 0px;
    }
    .design2{
      width: 97px;
      height: 98px;
    }

  }