.first-fold {
    /* Add your styles for the "First Fold" section */
    position: relative;
    
    height: 1006px;
    width: 100vw;
    background-color: #4E3BC2;
  }

  .mobile-nav-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
    display: none;
  }
  
  .mobile-icon {
    font-size: 28px;
  }
  
  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 42px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .mobile-navbar {
    position: fixed;
    top: 0;
    right: -480px; /* Start off-screen */
    width: 480px;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 999;
  }
  
  .mobile-navbar.open3 {
    right: 0;
  }
  
  .mobile-nav-list {
    padding: 20px;
    list-style: none;
  }
  
  .mobile-nav-item {
    margin-bottom: 15px;
  }
  
  .mobile-nav-item a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    display: block;
  }
  
  .join-us-btn {
    width: 100%;
    padding: 10px;
    background-color: #4E3BC2;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .navbar {
    padding-top: 40px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.82px;
    color: white;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .nav-item {
    padding-right: 25px;
    height: 51px;
    width: 175px;
  }
  
  .nav-link {
    cursor: pointer;
    position: relative;
  }
  
  .dropdown-icon {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border: 5px solid transparent;
    border-top-color: #333;
  }
  
  .open {
    transform: rotate(180deg);
  }
  
  .dropdown-content {
    /* Styles for dropdown content */
  }
  
  .join-us-btn {
    /* Styles for the "Join Us" button */
    height: 51px;
    width: 175px;
    margin-top: -28px;
    border-radius: 84px;
    background-color: white ;
    color: blue;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.82px;
    z-index: 100;
    margin-left: -15px;
  }

  .navCircle{
    height: 370px;
    width: 370px;
    position:absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(navCircle.png);
  }
  
  .brightCHAMPS{
    height: 50px;
    width: 210px;
    position:absolute;
    top: 43px;
    left: 38px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(brightCHAMPS.png);
    z-index: 1000
  }
  .bigRect{
    height: 908px;
    width: 908px;
    position:absolute;
    top: -2px;
    right: -75px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(bigRect.png);
  }
  .bigRect2{
    height: 762px;
    width: 762px;
    position:absolute;
    top: 71px;
    right: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(bigRect2.png);

  }
  .bigRect3{
    height: 636px;
    width: 636px;
    position:absolute;
    top: 138px;
    right: 65px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(bigRect3.png);
  }
  

  .childImage{
    height: 640px;
    width: 935px;
    position:absolute;
    top: 185px;
    right: -125px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(ChildImage.png);
  }
  .bigText{
    position: absolute;
    top: 177px;
    left: 120px;
    height: 216px;
    width: 564px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 56px;
    line-height: 72px;
    color: white;
  }
  .highlighted{
    font-weight: 800;
    font-size: 56px;
    line-height: 72px;
  }
  .descText{
    position: absolute;
    width: 442px;
    height: 160px;
    left:120px;
    top: 425px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: white;
  }
  .btn1{
    position: absolute;
    width: 264px;
    height: 48px;
    top: 633px;
    left: 120px;
    border-radius: 24px;
    font-weight: 800;
    color: blue;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    line-height: 32px;
    border: none;
    cursor: pointer;
  }
  .harvard{
    position: absolute;
    width:146px;
    height:75.84px;
    top:760px;
    left:123px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(harvard.png);
  }

  .curve{
    position: absolute;
    height:17.85px;
    width:128.5px;
    top:844.15px;
    left:123px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(curve.png);
  }
  .collab{
    position: absolute;
    height:24px;
    width:144px;
    top:730px;
    left:123px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300px;
    color: white;
    font-style: italic;
  }

  @media screen and (min-width: 650px) and (max-width: 1250px){
      .first-fold{
        height: 705px;
      }
      .brightCHAMPS{
        height: 30px;
        width: 142px;
       
        top: 76px;
        left: 32px;
        
      }
      .navbar {
        padding-top: 79px;
        
        top: 0;
        right: 0;
        
        font-size: 14px;
        line-height: 19.1px;
      
      }
      .nav-item {
        padding-right: 16px;
        height: 20px;
        width: 110px;
      }
      .dropdown-icon {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0px;
        border: 5px solid transparent;
        border-top-color: white;
      }

      .join-us-btn {
        /* Styles for the "Join Us" button */
        display: none;
      }
      .nav-list{
        margin-right: -128px;
      }
      .navCircle{
        display: none;
      }
      .bigRect{
        display: none;
      }
      .bigRect2{
        height: 425px;
        width: 425px;
        right: 32px;
        top:115px;
      }
      .bigRect3{
        top: 145px;
        height: 363px;
        width: 363px;
        right: 63px;
      }
      .childImage{
        top: 210px;
        height: 250px;
        width: 360px;
        right: 52px;
      }
      .bigText{
        width: 343px;
        height: 120px;
        font-size: 32px;
        line-height: 40px;
        left: 57px;
      }
      .highlighted{
        font-size:32px;
        line-height: 40px;

      }
      .descText{
        
        width: 300px;
        height: 90px;
        left:57px;
        top: 320px;
       
        font-size: 14px;
        line-height: 22px;
        color: white;
      }

      .btn1{
        width: 335px;
        height: 48px;
        top: 500px;
        left: 56px;
        
        color: blue;
        background-color: white;
        
      }
      .harvard{
        display: none;
      }
      .collab{
        display: none;
      }
      
      .curve{
        display: none;
      }

  }

  @media screen and (max-width: 650px){
    .first-fold{
      height: 900px;
    }
    .brightCHAMPS{
      height: 22px;
      width: 104px;
     
      top: 24px;
      left: 16px;
      
    }
    .navbar{
      display: none;
      
    }
    .mobile-nav-icon{
      display: block;
      width: 32px;
      height: 22px;
      color: white;
      top: 24px;
      right: 5vw;
    }
    

    .join-us-btn {
      /* Styles for the "Join Us" button */
      display: none;
    }
    .nav-list{
      margin-right: -17vw;
    }
    .navCircle{
      display: none;
    }
    .bigRect{
      display: none;
    }
    .bigRect2{
      height: 425px;
      width: 425px;
      right: 0px;
      top:290px;
    }
    .bigRect3{
      top: 321px;
      height: 363px;
      width: 363px;
      right: 26px;
    }
    .childImage{
      top: 385px;
      height: 250px;
      width: 360px;
      right: 14px;
    }
    .bigText{
      width: 343px;
      height: 120px;
      font-size: 32px;
      line-height: 40px;
      left: 20px;
      top:88px;
    }
    .highlighted{
      font-size:32px;
      line-height: 40px;

    }
    .descText{
      
      width: 299px;
      height: 88px;
      left:20px;
      top: 220px;
     
      font-size: 14px;
      line-height: 22px;
      color: white;
    }

    .btn1{
     
      top: 720px;
      left: 24px;
      
      color: blue;
      background-color: white;
      
    }
    .harvard{
      display: none;
    }
    .collab{
      display: none;
    }
    
    .curve{
      display: none;
    }
    .mobile-nav-list {
      padding: 20px;
      padding-top: 64px;
      list-style: none;
      
    }
    .mobile-nav-item a{
      font-size: 24px;
      font-weight: 600;
    }
    
  }